<%= form_with(model: mod, local: true) do |form| %>
  <% if mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mod.errors.count, "error") %> prohibited this mod from being saved:</h2>

      <ul>
      <% mod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-field ">
    <%= form.text_field :title, id: :mod_title, required: true %>
    <%= form.label "título *" %>
  </div>

  <div class="input-field">  
    <%= form.collection_select(:category_mod_id, CategoryMod.all, :id, :name) %>
    <label>Categoria *</label>
  </div>
  
  <div class="input-field">
    <%= form.text_field :name, id: :mod_name %>
    <%= form.label "nome de exibição" %>
  </div>
 
  <div class="input-field">
    <%= form.label "Descrição" %>
    <%= form.text_area :description, id: :mod_description, class: 'materialize-textarea' %>
  </div>

  <div class="input-field">  
    <%= form.collection_select(:icon_id, Icon.all, :id, :name, {include_blank: 'Selecionar'}) %>
    <label>Ícone <em>(opcional)</em></label>
  </div>

  <div class="input-field">
    <%= form.label "url *" %>
    <%= form.text_field :slug, id: :mod_slug, class: 'form-control', placeholder: '/url' %>
  </div>
  
  <div class="input-field">
    <%= form.submit "Salvar", class: 'btn waves-effect waves-light blue' %>
  </div>

<% end %>
<!--  -->