<p id="notice"><%= notice %></p>

<h3>Módulos do Sistema</h3>

<ul class="list_collection">
  <% @mods.each do |mod| %>
    <li>
      <%= mod.name %></td>
      <%= mod.icon_id %></td>
              <td><%= link_to 'Show', mod %></td>
        <td><%= link_to 'Edit', edit_mod_path(mod) %></td>
        <td><%= link_to 'Destroy', mod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Mod', new_mod_path %>
