<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mod.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @mod.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mod.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @mod.icon %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @mod.slug %>
</p>

<p>
  <strong>Category mod:</strong>
  <%= @mod.category_mod_id %>
</p>

<%= link_to 'Edit', edit_mod_path(@mod) %> |
<%= link_to 'Back', mods_path %>
