<%= form_with(model: plan_mod, local: true) do |form| %>
  <% if plan_mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan_mod.errors.count, "error") %> prohibited this plan_mod from being saved:</h2>

      <ul>
      <% plan_mod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_id %>
    <%= form.number_field :plan_id, id: :plan_mod_plan_id %>
  </div>

  <div class="field">
    <%= form.label :mod_id %>
    <%= form.number_field :mod_id, id: :plan_mod_mod_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
