<p id="notice"><%= notice %></p>

<h1>Calendars</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Room</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Hour interval</th>
      <th>Hour limit</th>
      <th>Color</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.title %></td>
        <td><%= calendar.room_id %></td>
        <td><%= calendar.start_at %></td>
        <td><%= calendar.end_at %></td>
        <td><%= calendar.hour_interval %></td>
        <td><%= calendar.hour_limit %></td>
        <td><%= calendar.color %></td>
        <td><%= calendar.public %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar', new_calendar_path %>
