<%= form_with(model: studio, local: true) do |form| %>
  <% if studio.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(studio.errors.count, "error") %> erros ao salvar estúdio:</h5>
      <ul>
      <% studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label "Nome do estúdio *" %>
    <%= form.text_field :name, id: :studio_name %>
  </div>

<!--   <div class="input-field">
    <%= form.label "Razão Social" %>
    <%= form.text_field :social_name, id: :studio_social_name %>
  </div> -->

  <div class="input-field">
    <%= form.label "email" %>
    <%= form.text_field :email, id: :studio_email %>
  </div>

  <div class="input-field">
    <%= form.label "descrição do Estúdio" %>
    <%= form.text_area :description, class: 'materialize-textarea', id: :studio_description %>
  </div>
 
  <div class="file-field input-field">
    <div class="btn blue-grey lighten-3">
      <span>Imagem Principal</span>
      <%= form.file_field :picture, id: :studio_picture %>
    </div>
    <input class="file-path validate" type="text"/>
  </div>

  <div class="row">
    <div class="col m2 offset-m9">
      <div class=" input-field">
        <%= form.submit "Salvar e próximo", class: 'btn blue waves-effects waves-light' %>
      </div>
    </div>
  </div>

<% end %>
