<p id="notice"><%= notice %></p>

<div class="row">
  
  <div class="col m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <span class="card-title activator grey-text text-darken-4 text-center"><i class="material-icons">playlist_add</i></span>
        <p class="text-center">Cadastrar Estúdio</p>
      </div>
    </div>      
  </div>

  <% @studios.each do |studio| %>
    <div class="col m3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= studio.name %><i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Informações<i class="material-icons right">close</i></span>
          <p><%= link_to 'Show', studio %></p>
          <p><%= link_to 'Edit', edit_studio_path(studio) %></p>
          <p><%= link_to 'Destroy', studio, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>  
