<nav class="cd-side-nav">
	<% @category_mods.each do |category_mod| %>
		<ul>
			<li class="cd-label"><% if category_mod.icon.present? %><i class="material-icons"><%= category_mod.icon.name %></i><% end %> <%= category_mod.title %></li>
			<% category_mod.mods.each do |mod| %>
				<li class="has-children">
					<a href="<%= mod.slug %>"><i class="material-icons"><%= mod.icon.name %></i> <%= mod.title %></a>							
				</li>
			<% end %>	
		</ul>
	<% end %>				
</nav>