<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <% @category_mods.each do |category_mod| %>
	<li><a class="subheader"><% if category_mod.icon.present? %><i class="material-icons"><%= category_mod.icon.name %></i><% end %> <%= category_mod.title %></a></li>
	<% category_mod.mods.each do |mod| %>
	  <li>
	    <a href="/<%= mod.slug %>"><i class="material-icons"><%= mod.icon.name %></i> <%= mod.title %></a>							
	  </li>
	<% end %>	
	<li><div class="divider"></div></li>
  <% end %>				
</ul>
