<%= render 'layouts/header' %>
<body>
  <%= render 'layouts/navbar' %> 
  <section class="module <%= @mod.bg_color %>">
    <div class="row">     
  	  <div class="col m6 offset-m1">
        <h4><%= @mod.title %></h4>  
  		  <p><%= @mod.description %></p>
  	  </div>
       <div class="col m2 offset-m1">
          IMG
      </div> 
  	</div>
    <div class="row">
      <div class="col m2 offset-m10">
        <%= link_to "Saiba mais", root_path, class: 'btn waves-effect waves-light orange' %>
      </div>
    </div>
  </section>   
  <div class="container">
    <!-- Page Content goes here -->
    <%= render 'layouts/sidebar' %>
    <%= yield %>
  </div>





